html, body {
  height: 100%;
  background-color: #098bdc;
}

body {
  padding: 10px;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

div {
  text-align: center;
}

.icon {
  border-radius: 10px;
  background-color: white;
}

.bookmark-contain {
  width: 200px;
  margin: auto;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

.lock {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#zr-logo {
  width: 30px;
  height: 30px;
}

#title {
  position: relative;
  top: 100px;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 15%;
  font: 22pt arial;
}

#subtitle {
  padding: 20px;
  font: italic 16pt georgia;
}

img {
    /*cursor: pointer;*/
}
