html, body {
  height: 100%;
  /*background-color: #098bdc;*/
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

div {
  text-align: center;
  /*color: white;*/
  /*background-color: #098bdc;*/
}

#zr-logo {
  width: 150px;
  height: 150px;
}

#title {
  text-shadow: 2px 2px black;
  margin-top: 15%;
  font: 60pt arial;
}

#subtitle {
  padding: 20px;
  font: italic 16pt georgia;
}

img {
    /*cursor: pointer;*/
}
