body {
  margin: 40px;
  height: 100%;
  overflow: scroll;
}

.anonymous-font {
  font-family: 'Anonymous Pro', monospace;
}

.correct {
  color: green;
  font-family: 'Anonymous Pro', monospace;
  border: none;
}

.test-message {
  margin: 20px;
}

#puz {
    margin: 20px;
}

#encrypt {
    margin: 20px;
}

#pieces {
    margin: 20px;
    text-align: center;
}

#pieces>div {
    vertical-align:top;
    text-align: center;
    display: inline-block;
}

#puz>div {
    vertical-align:top;
    text-align: center;
    display: inline-block;
}

.enc-block>p {
    padding: 5px;
}

.dec-block>p {
    padding: 5px;
}

.puz-piece>p {
    padding: 5px;
}

div.fixed-piece {
    vertical-align: middle;
    text-align: center;
    background-color: #cbcfd6;
    width:75px;
    height:75px;
    border:1px solid black;
}

#encrypt>div {
    /*background-color: #cbcfd6;*/
    vertical-align:top;
    text-align: center;
    display: inline-block;
}

p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.reset-btn {
    margin: 20px;
}

div.dec-block {
    /*background-color:white;*/
    width:75px;
    height:75px;
    border:1px solid black;
}

div.enc-block {
    /*background-color:white;*/
    background-color: #e0e0e0;
    width:75px;
    height:75px;
    border:1px solid black;
}

div.connector {
    width:50px;
    height:0px;
    border:1px solid black;
    margin-top: 37px;
    margin-bottom: 50px;
}

#pieces>div {
    display: inline-block;
    background-color: #5bc0de;
    width:75px;
    height:75px;
    border:1px solid black;
}
.dropped{
    background-color: red !important;
}

.fixed-piece.message-block {
    background-color: #47e56e;
}

div>.fixed-piece.ciphertext-block {
    background-color: #ed6363;
}