html, body {
  background-color: #006400;
  height: 100%;
}

.nav-menu {
  position: fixed;
  float: left;
  height: 100%;
  width: 20%;
  background-color: black;
  text-align: center;
  color: white;
}

.main {
  margin-left: 20%;
  height: 100%;
}

.logo {
  width: 96%;
  margin: 2%;
}

.profile-pic {
  margin: 20px 3% 20px 3%;
  border-radius: 50%;
  width: 94%;
}

.profile-name {
  font: italic 18pt times;
  margin-bottom: 20px;
}

.banner-name {
  color: white;
  font: bold italic 36pt times;
  text-shadow: 3px 3px 3px black;
  position: absolute;
  top: 90px;
  right: 20px;
  background-color: transparent;
}

.menu-item {
  font: 16pt arial;
  padding: 5px;
}

.menu-item a {
  color: inherit;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #2b2b2b;
}

.banner-box {
  height: 150px;
  overflow: hidden;
}

.banner {
  width: 100%;
}

.fb-item {
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
}

.fb-item img {
  width: 100%;
  margin-top: 20px;
}

.fb-item .title {
  font: 24pt verdana;
  text-align: center;
  margin-bottom: 20px;
}

.fb-item .status-update {
  font: italic 18pt arial;
  text-align: center;
}

.fb-item .friend {
  text-align: center;
  font-size: 16pt;
}

.fb-item .friend-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
