html {
  height: 100%;
}

body {
  margin: 40px;
  height: 100%;
  overflow: hidden;
}

.fill {
  height: 100%;
}

iframe {
  width: 100%;
  height: 85%;
}

.urlbar {
  width: 100%;
  margin-bottom: 10px;
}

#add-tab {
  float: right;
}

.x-btn {
  display: inline;
  position: absolute;
  float: right;
  top: 10%;
  right: 10%;
}

#browser {
  background-color: #87cefa;
  padding: 10px;
  height: 85%;
  float: left;
  border-radius: 10px;
  box-shadow: 6px 6px 3px gray;
}

#instructions {
  padding: 0px 0px 0px 50px;
}

div.ciphertext {
  margin: 5px;
  font-size: 15px;
  font-family: 'Anonymous Pro', monospace;
}

div.message {
  margin: 5px;
}

div.message-char {
  text-align: center;
  display: inline-block;
}

div.alphabet-char {
  text-align: center;
  color: #074fc1;
  display: inline-block;
  margin: 1px;
  /*width: 20px;*/
}

div.cipherword-div {
  display: inline-block;
}

input.message-letter
{
    width: 20px;
    text-align: center;
    border: 1px solid black;
    margin: 1px;
    font-family: 'Anonymous Pro', monospace;
}

input.alph-message-letter
{
    width: 20px;
    text-align: center;
    border: 1px solid black;
    margin: 1px;
    font-family: 'Anonymous Pro', monospace;
}

.anonymous-font {
  font-family: 'Anonymous Pro', monospace;
}

.correct {
  color: green;
  font-family: 'Anonymous Pro', monospace;
  border: none;
}

input.space-box
{
    width: 20px;
    border: none;
}

.test-message {
  margin: 20px;
}

.ui-autocomplete {
  position: relative;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-helper-hidden-accessible {
    display: none;
  }

.todolist{
    background-color:#FFF;
    padding: 0px 20px 0px 20px;
    margin-top:30px;
}

.todolist h1{
    margin:0;
    text-align:center;
}

.form-control{
    border-radius:0;
}

li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#F4FCE8;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}

.hidden {
    display: none;
}

.item-fade-in{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
}
