html {
  height: 100%;
}

body {
  margin: 50px;
  height: 100%;
}

iframe {
  width: 100%;
  height: 90%;
}

#urlbar {
  width: 100%;
}

#instructions {
  float: right;
  width: 25%;
}

#browser {
  background-color: #87cefa;
  padding: 10px;
  width: 70%;
  height: 70%;
  float: left;
}

div.ciphertext {
  margin: 5px;
  font-size: 15px;
}

div.message {
  margin: 5px;
}

input.message-letter
{
    width: 20px;
    border: 1px solid black;
    margin: 1px;
}

input.space-box
{
    width: 20px;
    border: none;
}